.background {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.headerImage {
  width: 100%;
  display: inline-flex;
}

.footerImage {
  width: 50%;
  display: inline-flex;
}

#mintContainer {
  display: inline-flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  max-width: 760px;
}
